.categorias-page {
  padding: 30px;
}

.categorias-header {
  margin-bottom: 30px;
}

.categorias-header h1 {
  font-size: 2.5rem;
  color: #111;
  margin-bottom: 10px;
}

.categorias-header p {
  color: #666;
}

/* FORM */

.categoria-form {
  display: flex;
  gap: 15px;
  margin-bottom: 35px;
}

.categoria-form input {
  flex: 1;
  padding: 14px;
  border: 1px solid #ddd;
  border-radius: 12px;
  outline: none;
  font-size: 1rem;
}

.categoria-form button {
  background: #d50000;
  color: white;
  border: none;
  padding: 14px 22px;
  border-radius: 12px;
  font-weight: 700;
  cursor: pointer;
}

/* GRID */

.categorias-grid {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(220px, 1fr)
  );
  gap: 20px;
}

/* CARD */

.categoria-card {
  background: white;
  border-radius: 20px;
  padding: 25px;
  box-shadow: 0 4px 14px rgba(0,0,0,0.06);
}

.categoria-card h3 {
  margin-bottom: 20px;
  color: #111;
}

.categoria-card button {
  width: 100%;
  border: none;
  background: #d50000;
  color: white;
  padding: 12px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
}

/* RESPONSIVO */

@media (max-width: 768px) {

  .categorias-page {
    padding: 20px;
  }

  .categoria-form {
    flex-direction: column;
  }

  .categorias-header h1 {
    font-size: 2rem;
  }
}